@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employee";
}

<h1>Employee</h1>
<style>
    .p {
        font-size: x-large;
    }
</style>
<p>
    <a asp-action="Create" title=" Create"> <i class="fa fa-plus p"></i></a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            @*<th>
                @Html.DisplayName("Country")
            </th>*@
            <th>
                @Html.DisplayName("Departmenets")
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @item.FirstName  @item.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.country.Name)
            </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.DepartId)
        </td>


            <td>
                <a asp-controller="Employee" class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                <a asp-controller="Employee" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash"></i></a>
                <a asp-controller="Employee" class="btn btn-outline-secondary" asp-action="Create"><i class="far fa-plus"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section scripts {
    <script src="~/js/site.js"></script>
}